.PartneryCompanyContainer {
    display: flex;
    /* gap: 57px; */
    justify-content: space-between;
    padding: 24px 50px;
    background-color: rgba(235, 217, 107, 1);
    align-items: center;
}
.PartneryCompanyContainer .PartnerImg {
    background-color: rgba(235, 217, 107, 1);
}